openai
gspread
oauth2client
python-dotenv
pydub
numpy
# Ghim moviepy và Pillow bản cũ để tránh lỗi ANTIALIAS
moviepy==1.0.3
Pillow==9.0.0
# YouTube API
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests

# --- THÊM MỚI CHO SÓNG ÂM ---
matplotlib
scipy

gTTS
