openai
gspread
oauth2client
python-dotenv
pydub
numpy
# Sửa lỗi: Ghim phiên bản cũ để dùng được moviepy.editor
moviepy==1.0.3
decorator==4.4.2
imageio==2.4.1
# YouTube API
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
